<div class="">
    <!-- Start Page Content -->
    <main class=" bg-dark">
        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div [ngClass]="{'black-overlay': isLoading}" *ngIf="isLoading">
                            <!-- Loading message or animation goes here -->
                            <p class="loading-message">Please wait, processing response...</p>
                        </div>
                        <div class="chat chat-person border-0 shadow rounded">
                            <ul *ngIf="chatResponses$" #chatContainer class="p-4 list-unstyled mb-0 chat" data-simplebar
                                style="background: url('../assets/images/dope') center center; height: 95vh; scroll-behavior: smooth;">
                                <div *ngFor="let chatResponse of (chatResponses$ | async)">
                                    <li class="chat-right">
                                        <div class="d-inline-block">
                                            <div class="d-flex chat-type mb-3">
                                                <div class="position-relative chat-user-image">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRfOAZBavXwO7ee1kmFR4ejYa03mMZr6ztGg&usqp=CAU"
                                                        class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                                                </div>

                                                <div class="chat-msg" style="max-width: 500px;">
                                                    <p class="msg text-muted small shadow px-3 py-2 rounded mb-1">
                                                        {{chatResponse.message}}</p>
                                                    <small class="text-muted msg-time"><i
                                                            class="ti ti-clock me-1"></i>{{chatResponse.timestamp}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-inline-block">
                                            <div class="d-flex chat-type">
                                                <div class="position-relative">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSf-jgdZr3Hktj617J32qaieWdhke6ZmZYCw&usqp=CAU"
                                                        class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                                                </div>

                                                <!-- Display loading UI when isLoading is true -->


                                                <!-- Chat response content -->

                                                <div *ngIf="!chatResponse.response.includes('.mp3')" class="chat-msg"
                                                    style="max-width: 500px;">
                                                    <p class="msg text-muted small shadow px-3 py-2 rounded mb-1">{{
                                                        chatResponse.response }}</p>
                                                    <small class="text-muted msg-time"><i
                                                            class="ti ti-clock me-1"></i>{{ chatResponse.timestamp
                                                        }}</small>
                                                </div>
                                                <div *ngIf="chatResponse.response.includes('.mp3')" class="chat-msg"
                                                    style="max-width: 500px;">
                                                    <div class="msg text-muted small shadow px-3 py-2 rounded mb-1">
                                                        <audio controls>
                                                            <source [src]="processAudioUrl(chatResponse.response)"
                                                                type="audio/mpeg">
                                                            Your browser does not support the audio element.
                                                        </audio>
                                                    </div>
                                                    <small class="text-muted msg-time"><i
                                                            class="ti ti-clock me-1"></i>{{ chatResponse.timestamp
                                                        }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </div>
                            </ul>
                            <div class=" rounded-bottom shadow">
                                <div class="row g-2">
                                    <div class="col">
                                        <input type="text" class="form-control border" [(ngModel)]="textInputContent"
                                            style="height: 36px;" (keyup.enter)="sendTextChat()"
                                            placeholder="Enter Message...">
                                    </div>
                                    <div class="col-auto">
                                        <a class="btn btn-icon btn-dark" (click)="sendTextChat()"><i
                                                class="ti ti-send"></i></a>
                                        <a class="btn btn-icon btn-dark" [class.recording]="isRecording"
                                            (click)="toggleRecording()"><i class="ti ti-microphone"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-xl-4 col-lg-5">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class=" border-0 rounded shadow">
                            <div class="text-center p-4">

                                <img src="../assets/images/dope.jpg" class="avatar avatar-md-md rounded-pill shadow"
                                    alt="">
                                <h5 class="mt-3 mb-0">VCABuddy</h5>
                                <p class="text-muted mb-0">VCABuddy Chatbot</p>
                                <!-- <center> -->
                                <hr style="width: 32%; align-items: center; text-align: center;">
                                <!-- </center> -->
                                <div class="col-auto">
                                    <a href="#" class="btn btn-icon btn-dark"><i class="tuil uil-github"></i></a>
                                    <a href="#" class="btn btn-icon btn-dark"><i class="uil uil-whatsapp"></i></a>
                                    <a href="#" class="btn btn-icon btn-dark"><i class="uil uil-linkedin"></i></a>
                                    <a href="#" class="btn btn-icon btn-dark"><i class="uil uil-twitter"></i></a>
                                </div>
                                <br>
                                <div>
                                    <select class="custom-select custom-select-sm w-50" [(ngModel)]="selectedLanguage">
                                        <option value="Select Language" selected>Select Language</option>
                                        <option value="Twi">Twi</option>
                                        <option value="English">English</option>
                                        <option value="Ewe">Ewe</option>
                                      </select>
                                </div>

                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div><!--end container-->
    </main>
    <!--End page-content" -->
</div>
<!-- page-wrapper -->